.aviainfo-board {
  display: grid;
  grid-template-columns: 790px 190px;
  width: 980px;
  height: 200px;

  box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
  border-radius: 15px;

  .ticket-info {
    display: grid;
    grid-template-rows: 26px 174px;

    .ticket-type {
      display: grid;
      align-items: center;
      justify-items: center;
      width: 132px;
      height: 26px;
      background: #8ba5d8;
      border-radius: 15px 0px;
      font-weight: 600;
      color: #fff;
      user-select: none;
    }

    .ticket {
      display: grid;
      grid-template-columns: 157px auto 103px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #5c5c5c;

      .ticket-logo {
        display: grid;
        grid-template-rows: min-content;
        justify-items: center;
        row-gap: 8px;
        margin-top: 28px;
      }

      .ticket-setting {
        display: grid;
        grid-template-rows: 107px 67px;


        .ticket-time-select {
          display: grid;
          align-items: center;
          grid-template-columns: 140px 140px 140px;

          
        }
      }

      .ticket-baggage {
        padding-left: 33px;
        img:last-child {
          margin-left: 10px;
          margin-top: 10px;
        }
      }
    }
  }

  .ticket-price {
    display: grid;
    align-items: center;
    padding-left: 48px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    border-left: 1px solid #dde3ee;
  }
}
