.aviaform-board {
  width: 962px;
  height: 186px;
  box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
  border-radius: 15px;

  .form {
    display: grid;
    grid-template-columns: repeat(4, 208px);
    justify-content: space-evenly;
    align-items: end;
    height: 100px;
    background: #5c87db;
    border-radius: 15px 15px 0 0;
  }

  .button-block {
    .button {
      width: 158px;
      height: 40px;
      margin-left: 775px;
      margin-top: 23px;
      text-align: center;
      position: relative;
      background: #5c87db;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:disabled {
        background: #b7bac1;
        cursor: not-allowed;
        &:hover {
          background: #b7bac1;
        }
      }

      &:hover {
        background: #3e67b7;
      }

      &:active {
        background: #5c87db;
        color: rgba(255, 255, 255, 0.5);
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }
}
