.ticket-departure-arrival {
          display: grid;
          grid-template-columns: 102px auto 131px;

          .ticket-time {
            margin-top: 15px;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #232323;
          }

          .ticket-date {
            margin-top: 8px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #5c5c5c;
          }

          .ticket-scheme {
            display: grid;
            grid-template-rows: 20px 20px 20px;
            align-content: stretch;

            .ticket-scheme-svo-rov {
              display: grid;
              grid-template-columns: auto 242px auto;
              margin-top: 7px;
              font-weight: 400;
              font-size: 14px;
              line-height: 140%;
              color: #b7bac1;
            }

            .ticket-scheme-line {
              text-align: center;
              hr {
                display: inline-block;
                width: 262px;
                margin-bottom: 3px;
                border: 1px solid #b7bac1;
              }

              .circle {
                display: inline-block;
                width: 8px;
                height: 8px;

                background: #c4c4c4;
                border-radius: 50%;
              }
            }

            .ticket-scheme-title {
              text-align: center;
              font-weight: 400;
              font-size: 14px;
              line-height: 140%;
              color: #b7bac1;
            }
          }

          .ticket-arrival {
            margin-left: 28px;
          }
        }